include ../crumbs/crumbs	


section.contacts-banner
	.container
		+crumbs("Контакты", "contacts.pug")(class="crumbs_dark")

		h1.contacts-banner__title Контакты

		a.contacts-banner__email(href="mailto:mail@2servisa.ru") mail@2servisa.ru

		a.contacts-banner__tel(href="tel:+79098581562") +7 (909) 858-15-62