.form
	input.form__surname(required placeholder="ФИО" aria-label="ФИО")
	input.form__email(type="email", required placeholder="Адрес эл.почты" aria-label="Адрес эл.почты")
	input.form__tel(type="tel" required placeholder="Номер телефона" aria-label="Номер телефона")
	textarea.form__textarea(required placeholder="Сообщение" aria-label="Сообщение")
	button.form__button Отправить