extends layouts/layout


block vars
	-let title = "Контакты"


block scripts
	script(src="contacts.js" type="module" defer)


block styles
	link(rel="stylesheet" href="contacts.scss")

	link(rel="stylesheet" href="contacts.media-1175.scss" media="screen and (min-width: 1175px)")
	
	link(rel="stylesheet" href="contacts.media-1570.scss" media="screen and (min-width: 1570px)")


block content
	main.contacts
		include blocks/contacts-banner/contacts-banner

		include blocks/feedback/feedback