extends layouts/layout


block vars
	- let title = "Два сервиса"


block scripts
	script(src="index.js" type="module" defer)


block styles
	link(rel="stylesheet" href="style.scss")

	link(rel="stylesheet" href="media-md.scss" media="screen and (min-width: 768px)")

	link(rel="stylesheet" href="media-lg.scss" media="screen and (min-width: 1175px)")

	link(rel="stylesheet" href="media-xl.scss" media="screen and (min-width: 1570px)")


block templates
	include blocks/card/card.pug


block content

	.wrapper
		.container
			include blocks/hero/hero

	main
		section.serv
			.serv__container.container
				h2.title Наши услуги
				.serv__slider
					.serv__slider-item
						+card("dev", "Разработка сайтов", "Разработка сайтов - интернет-магазинов, корпоративных сайтов, порталов, агрегаторов, СМИ медиа сайтов.", "#")

					.serv__slider-item
						+card("promotion", "Комплексное продвижение сайтов", "Разработка сайтов - интернет-магазинов, корпоративных сайтов, порталов, агрегаторов, СМИ медиа сайтов.", "#")
					.serv__slider-item
						+card("audit", "Аудит интернет-проектов", "Выявление слабых, проблемных мест (в том числе юридических) с рекомендациями по их устранению, монетизация (предложение новых возможностей, рекомендации по увеличению доходов, уменьшению расходов), подсчет необходимых ресурсов/бюджетов, определение стратегии развития.", "#")
					.serv__slider-item
						+card("modernization", "Редизайн и модернизация сайтов", "Выявление слабых, проблемных мест (в том числе юридических) с рекомендациями по их устранению, монетизация (предложение новых возможностей, рекомендации по увеличению доходов, уменьшению расходов), подсчет необходимых ресурсов/бюджетов, определение стратегии развития.", "#")
					.serv__slider-item
						+card("group", "Формирование ин-хаус команды", "веб-разработчики, смм-специалисты, емэйл-маркетологи, сео-специалисты, менеджеры продаж.", "#")
					.serv__slider-item
						+card("certificate", "Юридическая защита интернет-проектов", "консультации, судебные споры по авторскому праву (в том числе на фотографии), доменам, товарным знакам.", "#")


		section.aboutus
			.aboutus__container.container
				.aboutus__img
					img(src="aboutus.png?as=webp" alt="")
				
				.aboutus__wrap
					h2.title О нас
					
					p.aboutus__text Два Сервиса — IT компания, которая занимается разработкой, комплексным продвижением и юридической защитой сайтов. Мы — это сложившаяся команда веб-разработчиков, SMM-специалистов, email-маркетологов, SEO-специалистов, юристов.<br>В нашей команде решена задача взаимодействия разных сфер деятельности - IT технологий и юриспруденции.
					
					p.aboutus__text.aboutus__text_bold Мы знаем, что нужно делать в интернете и знаем, что не нужно делать в интернете.

		section.cases
			.container
				h2.title Кейсы

				.cases__slider
					.cases__slider-item
						+card("portal", "Туристический портал НАЭКВАТОРЕ", "Разработка туристического портала с личным кабинетом пользователей/организаций, возможностями размещений публикаций, фильтрами поиска туров, комментированием. НАЭКВАТОРЕ - это 5 городов присутствия, свыше 5 тыс. человек ежедневной посещаемости, полмиллиона email-подписчиков, 1.5 миллиона подписчиков в соцсетях. Аудитория исключительно коммерческая, целевая.")
					.cases__slider-item
						+card("products", "Региональный торговый портал", "доска объявлений товаров и услуг, комментарии пользователей, личный кабинет.")
					.cases__slider-item
						+card("search", "Сайт вакансий и поиска работы", "каталог вакансий, база резюме, фильтр выборки и поиска, личный кабинет, комментарии пользователей, раздел статей.")
					.cases__slider-item
						+card("delivery", "Служба доставки цветов FDS", "Разработка сайта для службы доставки цветов с каталогом товара, корзиной, отзывами клиентов.")
					.cases__slider-item
						+card("news", "Новостное издание Аргументы Времени", "Разработка новостного сайта с личным кабинетом пользователя, редактора, модератора, рейтингом пользователей, комментирование материалов.")
					.cases__slider-item
						+card("website", "Региональный новостной сайт СМИ", "Разработка новостного регионального сайта СМИ с личным кабинетом пользователя, редактора, комментирование, защита от спама, рсс-ленты для яндекс.новости, гугл.новости, рамблер.новости, рекламной системой.")
					.cases__slider-item
						+card("shop", "Интернет-магазин цветов", "Разработка цветочного интернет-магазина.")
					.cases__slider-item
						+card("corp-website", "Корпоративный сайт Нижнеамурская Горная Компания", 'Разработка корпоративного сайта для "Нижнеамурская Горная Компания" с личным кабинетом редактора, редактируемой яндекс картой объектов.')
					.cases__slider-item
						+card("agency", "Сайт для агентства недвижимости", "Разработка сайта для агентства недвижимости с каталогом объектов, личным кабинетом, редактируемой картой объектов.")
			
		section.partners
			.container
				h2.title Наши партнеры
				.partners__wrap
					.partners__item
						.partners__img
							img(src="logo.png?as=webp" alt="")
					.partners__item
						.partners__img
							img(src="logo.png?as=webp" alt="")
					.partners__item
						.partners__img
							img(src="logo.png?as=webp" alt="")
					.partners__item
						.partners__img
							img(src="logo.png?as=webp" alt="")
					.partners__item
						.partners__img
							img(src="logo.png?as=webp" alt="")
					.partners__item
						.partners__img
							img(src="logo.png?as=webp" alt="")
					.partners__item
						.partners__img
							img(src="logo.png?as=webp" alt="")
					.partners__item
						.partners__img
							img(src="logo.png?as=webp" alt="")
					.partners__item
						.partners__img
							img(src="logo.png?as=webp" alt="")
					.partners__item
						.partners__img
							img(src="logo.png?as=webp" alt="")
					.partners__item
						.partners__img
							img(src="logo.png?as=webp" alt="")
					.partners__item
						.partners__img
							img(src="logo.png?as=webp" alt="")

		section.feedback
			
			.feedback__top
				.container
					h2.title Обратная связь
					p.feedback__text Хотите заказать наши услуги или же у вас остались вопросы? Напишите нам и мы обязательно вам ответим!
			.feedback__bottom
				
				.feedback__form
					include blocks/form/form