extends layouts/layout


block vars
	- let title = "Два сервиса"


block scripts
	script(src="index.js" type="module" defer)


block styles
	link(rel="stylesheet" href="style.scss")

	link(rel="stylesheet" href="media-md.scss" media="screen and (min-width: 768px)")

	link(rel="stylesheet" href="media-lg.scss" media="screen and (min-width: 1175px)")

	link(rel="stylesheet" href="media-xl.scss" media="screen and (min-width: 1570px)")


block templates
	include blocks/card/card.pug


block content

	.wrapper
		.container
			include blocks/hero/hero

	main
		.serv
			.container
				h2.title Наши услуги
				.serv__slider
					.serv__slider-item
						+card("dev", "Разработка сайтов", "Разработка сайтов - интернет-магазинов, корпоративных сайтов, порталов, агрегаторов, СМИ медиа сайтов.")

					.serv__slider-item
						+card("promotion", "Комплексное продвижение сайтов", "Разработка сайтов - интернет-магазинов, корпоративных сайтов, порталов, агрегаторов, СМИ медиа сайтов.")
					.serv__slider-item
						+card("audit", "Аудит интернет-проектов", "Выявление слабых, проблемных мест (в том числе юридических) с рекомендациями по их устранению, монетизация (предложение новых возможностей, рекомендации по увеличению доходов, уменьшению расходов), подсчет необходимых ресурсов/бюджетов, определение стратегии развития.")
					.serv__slider-item
						+card("modernization", "Редизайн и модернизация сайтов", "Выявление слабых, проблемных мест (в том числе юридических) с рекомендациями по их устранению, монетизация (предложение новых возможностей, рекомендации по увеличению доходов, уменьшению расходов), подсчет необходимых ресурсов/бюджетов, определение стратегии развития.")
					.serv__slider-item
						+card("group", "Формирование ин-хаус команды", "веб-разработчики, смм-специалисты, емэйл-маркетологи, сео-специалисты, менеджеры продаж.")
					.serv__slider-item
						+card("certificate", "Юридическая защита интернет-проектов", "консультации, судебные споры по авторскому праву (в том числе на фотографии), доменам, товарным знакам.")