extends layouts/layout

block vars
	- let title = "Юридическая защита"


block scripts
	script(src="protection.js" type="module" defer)


block styles
	link(rel="stylesheet" href="protection.scss")

	link(rel="stylesheet" href="protection.media-1175.scss" media="screen and (min-width: 1175px)")
	
	link(rel="stylesheet" href="protection.media-1570.scss" media="screen and (min-width: 1570px)")


block content
	main
		include blocks/protection-banner/protection-banner

		include blocks/introduction/introduction

		include blocks/legal-services/legal-services

		include blocks/laws/laws

		include blocks/feedback/feedback
