extends layouts/layout


block vars
	- let title = "SEO-продвижение сайтов"


block scripts
	script(src="seo.js" type="module" defer)


block styles
	link(rel="stylesheet" href="seo.scss")


block content
	main
		include blocks/seo-banner/seo-banner

		include blocks/seo-cards/seo-cards	

		include blocks/process/process


		include blocks/feedback/feedback