@use "../../vars/vars.scss" as v;


.link {
    font-size: 1.4rem;
	font-weight: 700;
	line-height: 1.5;
	color: v.$accent;


	&::after {
		content: "";
		display: inline-block;
		width: 3.5rem;
		height: 1.1rem;
		background: url(blocks/link/arrow.svg) no-repeat center;
		background-size: contain;
		margin-left: 1rem;
	}


	&:hover {
		text-shadow: 1px 1px 1px;
	}
}





@media (min-width: 1175px) {
    .link {
        font-size: 18px;
    }
}