section.aboutus
	.aboutus__container.container
		.aboutus__img
			img(src="blocks/aboutus/aboutus.png?as=webp" alt="")
		
		.aboutus__wrap
			h2.title О нас
			
			p.aboutus__text Два Сервиса — IT компания, которая занимается разработкой, комплексным продвижением и юридической защитой сайтов. Мы — это сложившаяся команда веб-разработчиков, SMM-специалистов, email-маркетологов, SEO-специалистов, юристов.<br>В нашей команде решена задача взаимодействия разных сфер деятельности - IT технологий и юриспруденции.
			
			p.aboutus__text.aboutus__text_bold Мы знаем, что нужно делать в интернете и знаем, что не нужно делать в интернете.