section.cases
	.container
		h2.title Кейсы

		.cases__slider
			.cases__slider-item
				+card("portal", "Туристический портал НАЭКВАТОРЕ", "Разработка туристического портала с личным кабинетом пользователей/организаций, возможностями размещений публикаций, фильтрами поиска туров, комментированием. НАЭКВАТОРЕ - это 5 городов присутствия, свыше 5 тыс. человек ежедневной посещаемости, полмиллиона email-подписчиков, 1.5 миллиона подписчиков в соцсетях. Аудитория исключительно коммерческая, целевая.")
			.cases__slider-item
				+card("products", "Региональный торговый портал", "доска объявлений товаров и услуг, комментарии пользователей, личный кабинет.")
			.cases__slider-item
				+card("search", "Сайт вакансий и поиска работы", "каталог вакансий, база резюме, фильтр выборки и поиска, личный кабинет, комментарии пользователей, раздел статей.")
			.cases__slider-item
				+card("delivery", "Служба доставки цветов FDS", "Разработка сайта для службы доставки цветов с каталогом товара, корзиной, отзывами клиентов.")
			.cases__slider-item
				+card("news", "Новостное издание Аргументы Времени", "Разработка новостного сайта с личным кабинетом пользователя, редактора, модератора, рейтингом пользователей, комментирование материалов.")
			.cases__slider-item
				+card("website", "Региональный новостной сайт СМИ", "Разработка новостного регионального сайта СМИ с личным кабинетом пользователя, редактора, комментирование, защита от спама, рсс-ленты для яндекс.новости, гугл.новости, рамблер.новости, рекламной системой.")
			.cases__slider-item
				+card("shop", "Интернет-магазин цветов", "Разработка цветочного интернет-магазина.")
			.cases__slider-item
				+card("corp-website", "Корпоративный сайт Нижнеамурская Горная Компания", 'Разработка корпоративного сайта для "Нижнеамурская Горная Компания" с личным кабинетом редактора, редактируемой яндекс картой объектов.')
			.cases__slider-item
				+card("agency", "Сайт для агентства недвижимости", "Разработка сайта для агентства недвижимости с каталогом объектов, личным кабинетом, редактируемой картой объектов.")