section.introduction
	.container
		.introduction__card
			.introduction__img
				img(src="blocks/introduction/group.png?as=webp")

			.introduction__info
				h3.subtitle Существенно усилилась угроза деятельности в интернете
				p.introduction__text Существенно усилилась угроза деятельности в интернете - растёт количество судебных споров по авторским правам на фотографии. Установлено более 1000 судебных дел по всей стране, 95% выиграли "авторы" фотографий. Взыскиваются суммы от 20 тыс. руб. до 3,5 млн. руб. 
				p.introduction__text Сами авторы фотографий реально не улучшают своё положение, свои доходы. Владельцы интернет-проектов несут значительные потери, вплоть до закрытия.