section.introduction
	.container
		.introduction__card
			.introduction__img
				img(srcset="blocks/introduction/group-lg.png?as=webp 665w, blocks/introduction/group.png?as=webp 280w"
					sizes="(min-width: 1175px) 665px, (min-width: 320px) 280px"
					src="blocks/introduction/group.png?as=webp"
				)

			.introduction__info
				h3.subtitle Существенно усилилась угроза деятельности в интернете
				p.introduction__text.text Существенно усилилась угроза деятельности в интернете - растёт количество судебных споров по авторским правам на фотографии. Установлено более 1000 судебных дел по всей стране, 95% выиграли "авторы" фотографий. Взыскиваются суммы от 20 тыс. руб. до 3,5 млн. руб. 
				p.introduction__text.text Сами авторы фотографий реально не улучшают своё положение, свои доходы. Владельцы интернет-проектов несут значительные потери, вплоть до закрытия.
				p.introduction__text.introduction__text_bold.text Изучив ситуацию, мы установили: основная причина проблем — это отсутствие специальных познаний об авторских правах, нормах и правилах функционирования интернет-проектов.