.hero#hero
	h2.subtitle.subtitle_white.hero__subtitle IT компания - Два Сервиса
	h1.hero__title Создание сайтов и продвижение 
	.hero__links
		a.hero__link(href="#") Разработка
		a.hero__link(href="#") Юридическая защита
		a.hero__link(href="#") Комплексное продвижение