section.process
	.container
		.process__img
			img(src="blocks/process/process.png?as=webp" alt="")

		.process__wrap
			.title Процесс работы
			.process__text Два Сервиса — IT компания, которая занимается разработкой, комплексным продвижением и юридической защитой сайтов. Мы — это сложившаяся команда веб-разработчиков, SMM-специалистов, email-маркетологов, SEO-специалистов, юристов. В нашей команде решена задача взаимодействия разных сфер деятельности - IT технологий и юриспруденции.
		ol.process__list
			li.process__list-item
				.process__top
					span.process__marker 1.
					h3.subtitle Увеличим трафик из поисковых систем
				p.process__text Чтобы получить хорошие позиции в поисковых системах, сайт должен удовлетворять большому 

			li.process__list-item
				.process__top
					span.process__marker 2.
					h3.subtitle Проанализируем ваших конкурентов
				p.process__text Чтобы получить хорошие позиции в поисковых системах, сайт должен удовлетворять большому 

			li.process__list-item
				.process__top
					span.process__marker 3.
					h3.subtitle Соберем семантическое ядро
				p.process__text Чтобы получить хорошие позиции в поисковых системах, сайт должен удовлетворять большому
				 
			li.process__list-item
				.process__top
					span.process__marker 4.
					h3.subtitle Проработаем посадочные страницы
				p.process__text Чтобы получить хорошие позиции в поисковых системах, сайт должен удовлетворять большому
				
			li.process__list-item
				.process__top
					span.process__marker 5.
					h3.subtitle Увеличим трафик из поисковых систем
				p.process__text Чтобы получить хорошие позиции в поисковых системах, сайт должен удовлетворять большому
				 
			li.process__list-item
				.process__top
					span.process__marker 6.
					h3.subtitle Эффективно нарастим ссылочную массу
				p.process__text Чтобы получить хорошие позиции в поисковых системах, сайт должен удовлетворять большому
				
			li.process__list-item
				.process__top
					span.process__marker 7.
					h3.subtitle Улучшим коммерческие факторы
				p.process__text Чтобы получить хорошие позиции в поисковых системах, сайт должен удовлетворять большому
				
			li.process__list-item
				.process__top
					span.process__marker 8.
					h3.subtitle Подробно настроим системы аналитики
				p.process__text Чтобы получить хорошие позиции в поисковых системах, сайт должен удовлетворять большому
				