@use "../../vars/vars.scss" as v;


.seo-cards {
	background: url(blocks/seo-cards/lines.svg) no-repeat center / cover,
				v.$bg;
	margin-bottom: -21.1rem;


	&__container {
		position: relative;
	}

	&__item {
		padding: 4rem 2rem;
		background: white;
		margin-bottom: 2rem;
		transform: translateY(-27.1rem);
	}

	&__item:last-child {
		margin-bottom: 0;
	}

 
	&__img {
		max-width: 28rem;
		height: 16.8rem;
		margin: 0 auto 2rem;


		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}	
	}


	&__text {
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 2;
		color: v.$text;
	}
}


@media (min-width: 640px) {
	.seo-cards {
		margin-bottom: -10.1rem;

	}
	.seo-cards__container {
		display: grid;
		grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
		gap: 20px;
	}


	.seo-cards__item {
		margin-bottom: 0;
		transform: translateY(-15.1rem);
	}
}