section.legal-services
	.container
		.legal-services__group-1
			.legal-services__img
				img(srcset="blocks/legal-services/group-1-lg.png?as=webp 665w, blocks/legal-services/group-1.png?as=webp 320w"
					sizes="(min-width: 1175px) 665px, (min-width: 360px) 320px"
					src="blocks/legal-services/group-1.png?as=webp"
				)
			.legal-services__info
				h3.subtitle Существует законодательная переоценённость прав авторов фотографий.

				.legal-services__wrapper
					.legal-services__wrap
						p.legal-services__text Подготовлено коллективное обращение Генеральному Прокурору РФ, все заинтересованные могут получить и подписать. Уже 45 компаний подписали обращение!
						a.link(href="") Подписать

					.legal-services__wrap
						p.legal-services__text Подготовлена статья по теме. Интернет-издания могут опубликовать абсолютно бесплатно
						a.link(href="") Опубликовать

		.legal-services__group-2
			.legal-services__img
				img(srcset="blocks/legal-services/group-2-lg.png?as=webp 665w, blocks/legal-services/group-2.png?as=webp 320w"
					sizes="(min-width: 1175px) 665px, (min-width: 360px) 320px"
					src="blocks/legal-services/group-2.png?as=webp"
				)

			.legal-services__texts
				p.legal-services__text.legal-services__text_small Готовы предложить юридическую защиту Вашего интернет-проекта.
				h3.subtitle Предоставляем - 
					span защиту интересов клиента в суде любой инстанции.

				p.legal-services__text Мы защищаем тех, чьи права нарушены, а также тех, кого обвиняют в нарушении чужих прав. Защищаем от незаконных требований.

				p.legal-services__text Проверим, являются ли исковые требования обоснованными. Действительно ли допущено нарушение авторских прав или это просто утверждение правообладателя.
				p.legal-services__text Авторские права в целом, права на фотографии в частности, являются одними из самых сложных отношений в действующим законодательстве. Без специальных познаний об авторских правах и особенностях их функционирования в сети интернет можно спокойно работать до возникновения элементарного спора. Как только возник спор, судебное разбирательство - настоятельно рекомендуем обратиться к специалистам в данных вопросах. "Самолечение" чревато негативными последствиями.

	footer.legal-services__footer
		.container.legal-services__container
			p.legal-services__text.legal-services__text_white Общих рекомендаций, решений в данных вопросах НЕТ. Распространённая рекомендация для работающих в интернете с фотографиями - "Ищите авторов, покупайте у них, берите на стоках, не берите без авторов фотографий" не верна, действует до спора, гарантий не даёт. Для того кто работает в интернете с фотографиями данная рекомендация явно не приемлема.
	