@use "../../vars/vars.scss"as v;


.legal-services {
    padding: 4rem 0 0;
    background: v.$nav;
    margin-bottom: -7rem;

    .container:first:child {
        background: v.$nav;
    }


    &__img {
        max-width: 32rem;
        height: 23.3rem;
        margin: 0 auto 2rem;


        img {
            width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    }


    .subtitle,
    &__text {
        margin-bottom: 2rem;
    }


    &__wrap {
        margin-bottom: 4rem;
    }


    &__text {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2;
        color: v.$text;


        &_white {
            background: v.$accent;
            color: v.$nav;
            padding: 2rem;
            transform: translateY(-14rem);
            margin-bottom: 0;
        }
    }


    &__group-2 {
        padding-top: 2rem;
        padding-bottom: 14rem;
    }


    .subtitle span {
        color: v.$accent;
    }


    &__footer {
        background: url(blocks/legal-services/lines.svg) no-repeat center / cover,
            v.$bg;
    }


    &__container {
        padding-right: 0;
    }
}




@media (min-width: 820px) {
    .legal-services {
    	margin-bottom: -11rem;

        &__group-1,
        &__group-2 {
            display: flex;
            justify-content: space-between;
            gap: 6rem;
        	margin-bottom: 2.5rem;
        }


        &__group-1 {

            .legal-services__img {
                order: 1;
                margin-bottom: 0;
            }


            .legal-services__img,
            .legal-services__info {
                flex-basis: 50%;
            }

        }


        &__group-2 {
        	padding-bottom: 5rem;
        }

        .subtitle {
        	margin-bottom: 3rem;
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }


        &__wrap {
            margin-bottom: 0;
        }

        .legal-services__img,
        .legal-services__texts {
            flex-basis: 50%;
        }
    }

    .legal-services__container .legal-services__text {
    	margin-left: auto;
    	width: 55%;
    	transform: translateY(-6rem);
    }


}





@media (min-width: 1200px) {
    .legal-services {
        &__wrapper {
            display: flex;
            flex-direction: row;
            gap: 4rem;
        }


        &__wrap {
        	width: 50%;
        }


        &__img {
            max-width: 500px;
            height: auto;
        }
    }
}


@media (min-width: 1436px) {
    .legal-services {
        &__img {
            max-width: 665px;
        }
    }
}