@use "vars/vars.scss"as v;


.feedback {
	margin-bottom: -12.5rem;


	&__top {
		min-height: 42.8rem;
		background: v.$accent;
		padding: 6rem 0 23rem;
	}


	.title {
		margin-bottom: 2rem;
	}


	.title,
	&__text {
		color: v.$nav;
	}


	&__text {
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 1.5;
	}


	&__bottom {
		min-height: 42.8rem;
		background: url(blocks/feedback/lines.png?as=webp) no-repeat 0 100% / cover,
					v.$bg;
	}


	&__form {
		transform: translateY(-19.1rem);
	}
}




@media (min-width: 1175px) {
    .feedback__text {
        font-size: 24px;
    }
}