section.feedback
	.feedback__top
		.container
			h2.title Обратная связь
			p.feedback__text Хотите заказать наши услуги или же у вас остались вопросы? Напишите нам и мы обязательно вам ответим!
	.feedback__bottom
		.feedback__form
			include ../form/form