section.laws
	.container.laws__container
		h3.laws__subtitle.subtitle Нормы права регулирующие авторские права, в том числе на фотографии (только часть, выдержки):

	.laws__card
		.container
			h3.subtitle Статья 1229 Гражданского Кодекса Российской Федерации Исключительное право

			ol.laws__list
				li.laws__list-item
					p.laws__text Гражданин или юридическое лицо, обладающие исключительным правом на результат интеллектуальной деятельности или на средство индивидуализации (правообладатель), вправе использовать такой результат или такое средство по своему усмотрению любым не противоречащим закону способом. Правообладатель может распоряжаться исключительным правом на результат интеллектуальной деятельности или на средство индивидуализации (статья 1233), если настоящим Кодексом не предусмотрено иное. 
					p.laws__text Правообладатель может по своему усмотрению разрешать или запрещать другим лицам использование результата интеллектуальной деятельности или средства индивидуализации. Отсутствие запрета не считается согласием (разрешением).
					p.laws__text Другие лица не могут использовать соответствующие результат интеллектуальной деятельности или средство индивидуализации без согласия правообладателя, за исключением случаев, предусмотренных настоящим Кодексом. Использование результата интеллектуальной деятельности или средства индивидуализации (в том числе их использование способами, предусмотренными настоящим Кодексом), если такое использование осуществляется без согласия правообладателя, является незаконным и влечет ответственность, установленную настоящим Кодексом, другими законами, за исключением случаев, когда использование результата интеллектуальной деятельности или средства индивидуализации лицами иными, чем правообладатель, без его согласия допускается настоящим Кодексом.

	.laws__card
		.container
			h3.subtitle Статья 1228 Гражданского Кодекса Российской Федерации. Автор результата интеллектуальной деятельности

			ol.laws__list
				li.laws__list-item
					p.laws__text Автором результата интеллектуальной деятельности признается гражданин, творческим трудом которого создан такой результат.
					p.laws__text Не признаются авторами результата интеллектуальной деятельности граждане, не внесшие личного творческого вклада в создание такого результата, в том числе оказавшие его автору только техническое, консультационное, организационное или материальное содействие или помощь либо только способствовавшие оформлению прав на такой результат или его использованию, а также граждане, осуществлявшие контроль за выполнением соответствующих работ.
				
				li.laws__list-item
					p.laws__text Автору результата интеллектуальной деятельности принадлежит право авторства, а в случаях, предусмотренных настоящим Кодексом, право на имя и иные личные неимущественные права.
					p.laws__text Право авторства, право на имя и иные личные неимущественные права автора неотчуждаемы и непередаваемы. Отказ от этих прав ничтожен. Авторство и имя автора охраняются бессрочно. После смерти автора защиту его авторства и имени может осуществлять любое заинтересованное лицо, за исключением случаев, предусмотренных пунктом 2 статьи 1267 и пунктом 2 статьи 1316 настоящего Кодекса.

				li.laws__list-item
					p.laws__text Исключительное право на результат интеллектуальной деятельности, созданный творческим трудом, первоначально возникает у его автора. Это право может быть передано автором другому лицу по договору, а также может перейти к другим лицам по иным основаниям, установленным законом.

				li.laws__list-item
					p.laws__text Права на результат интеллектуальной деятельности, созданный совместным творческим трудом двух и более граждан (соавторство), принадлежат соавторам совместно.

	.laws__card
		.container
			h3.subtitle Статья 1274 Гражданского Кодекса Российской Федерации. Свободное использование произведения в информационных, научных, учебных или культурных целях

			ol.laws__list
				li.laws__list-item
					p.laws__text Допускается без согласия автора или иного правообладателя и без выплаты вознаграждения, но с обязательным указанием имени автора, произведение которого используется, и источника заимствования:

					ol.laws__list-inner
						li.laws__list-item
							p.laws__text цитирование в оригинале и в переводе в научных, полемических, критических, информационных, учебных целях, в целях раскрытия творческого замысла автора правомерно обнародованных произведений в объеме, оправданном целью цитирования, включая воспроизведение отрывков из газетных и журнальных статей в форме обзоров печати;

						li.laws__list-item
							p.laws__text использование правомерно обнародованных произведений и отрывков из них в качестве иллюстраций в изданиях, радио- и телепередачах, звуко- и видеозаписях учебного характера в объеме, оправданном поставленной целью;

						li.laws__list-item
							p.laws__text воспроизведение в периодическом печатном издании и последующее распространение экземпляров этого издания, сообщение в эфир или по кабелю, доведение до всеобщего сведения правомерно опубликованных в периодических печатных изданиях статей по текущим экономическим, политическим, социальным и религиозным вопросам либо переданных в эфир или по кабелю, доведенных до всеобщего сведения произведений такого же характера в случаях, если такие воспроизведение, сообщение, доведение не были специально запрещены автором или иным правообладателем.