@use "../../vars/vars.scss" as v;


.laws {
	background: v.$bg;

	&__container {
		padding-left: 0;
		margin-bottom: -7rem;
		position: relative;
	}


	&__subtitle {
		background: v.$accent;
		padding: 2rem;
		color: v.$nav;
	}


	&__card {
		padding-top: 4rem;
		background: v.$nav;
		margin-bottom: 1rem;
	}


	&__card:nth-child(2) {
		padding-top: 10rem;
	}



	&__card:last-child {
		padding-bottom: 2rem;
	}


	&__list {
		list-style-type: decimal;
		list-style-position: inside;
		margin-top: 2rem;
	}


	&__list-item {
		margin-bottom: 2rem;
	}


	&__text {
		line-height: 2;
		font-weight: 400;
		font-size: 1.4rem;
		color: v.$text;
		margin-top: 2rem;
	}

	&__text:first-child {
		display: inline;
		margin-top: 0;
	}


	&__list-inner {
		list-style-type: none;
		list-style-position: inside;
		margin-top: 2rem;
		counter-reset: item;


		.laws__list-item::before {
			content: counter(item) ") ";
			counter-increment: item;
		}
	}
}