section.partners
	.container
		h2.title Наши партнеры
		.partners__wrap
			.partners__item
				.partners__img
					img(src="blocks/partners/logo.png?as=webp" alt="")
			.partners__item
				.partners__img
					img(src="blocks/partners/logo.png?as=webp" alt="")
			.partners__item
				.partners__img
					img(src="blocks/partners/logo.png?as=webp" alt="")
			.partners__item
				.partners__img
					img(src="blocks/partners/logo.png?as=webp" alt="")
			.partners__item
				.partners__img
					img(src="blocks/partners/logo.png?as=webp" alt="")
			.partners__item
				.partners__img
					img(src="blocks/partners/logo.png?as=webp" alt="")
			.partners__item
				.partners__img
					img(src="blocks/partners/logo.png?as=webp" alt="")
			.partners__item
				.partners__img
					img(src="blocks/partners/logo.png?as=webp" alt="")
			.partners__item
				.partners__img
					img(src="blocks/partners/logo.png?as=webp" alt="")
			.partners__item
				.partners__img
					img(src="blocks/partners/logo.png?as=webp" alt="")
			.partners__item
				.partners__img
					img(src="blocks/partners/logo.png?as=webp" alt="")
			.partners__item
				.partners__img
					img(src="blocks/partners/logo.png?as=webp" alt="")