nav.nav
	.nav__wrap
		include ../burger/burger
		ul.nav__list.nav__list_hidden.container
			li.nav__list-item
				a(href="#") Разработка
			li.nav__list-item
				a(href="seo.pug") SEO
			li.nav__list-item
				a(href="#") Аудит
			li.nav__list-item
				a(href="protection.pug") Юристы
			li.nav__list-item
				a(href="contacts.pug") Контакты
			li.nav__list-item
				a.nav__tel(href="tel:+79098581562") +7 (909) 858-15-62


