nav.nav
	.nav__wrap
		include ../burger/burger
		ul.nav__list.container
			li.nav__list-item
				a.nav__link(href="#") Разработка
			li.nav__list-item
				a.nav__link(href="#") SEO
			li.nav__list-item
				a.nav__link(href="#") Аудит
			li.nav__list-item
				a.nav__link(href="#") Юристы
			li.nav__list-item
				a.nav__link(href="https://www.google.com") Контакты
