block vars
	- let title


doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		block seo
			meta(name="description" content="")

		block scripts

		block styles

		
		block templates


		title= title

	body 
		.wrapper
			.container.wrapper__container
				include ../blocks/header/header
					

		block content

		include ../blocks/footer/footer
