footer.footer
	.container
		.footer__nav
			a.logo(href="/")
			a.footer__link(href="tel:+79098581562") +7 (909) 858-15-62
			a.footer__link(href="#") Разработка
			a.footer__link(href="#") Юристы
			a.footer__link(href="seo.pug") SEO
			a.footer__link(href="#") Контакты
			a.footer__link(href="#") Аудит
				

		.footer__bottom Два Сервиса © 2020-2022
